
{port_specs, [
    {"priv/easton_index", [
        "c_src/easton_index/*.cc"
    ]}
]}.

{port_env, [
    {"CXXFLAGS", "$CXXFLAGS -std=c++0x -g -Wall -Werror"},
    {"EXE_LDFLAGS",
        "$EXE_LDFLAGS -lCsMap -lspatialindex -lspatialindex_c -lgeos -lgeos_c -lleveldb"},
    {"EXE_LINK_TEMPLATE",
          "$CXX $PORT_IN_FILES $LDFLAGS $EXE_LDFLAGS -o $PORT_OUT_FILE"}
]}.

{eunit_opts, [
    verbose
]}.

